/* ==================
       基础配置
 ==================== */
body {
    background: #fff;
    font-size: 24rpx;
    color: #444;
    font-family: Helvetica Neue, Helvetica, sans-serif;
}
view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
    box-sizing: border-box;
}
/* ==================
     common - 边距
 ==================== */
.h-padding-left-right {
    padding: $hammer-left-right-padding;
}
.h-margin-top {
    margin-top: $hammer-margin-top
}
/* ==================
   容器 - 边距 - 间隔
 ==================== */
.hammer-box {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: $hammer-left-right-padding;
}

.hammer-box .title {
    font-weight: 600;
    display: flex;
    min-height: 80rpx;
    align-items: center;/*垂直居中*/
    justify-content: center;/*水平居中*/
    text-align: justify;
}
.hammer-box .sub-title {
    font-weight: 600;
    display: flex;
    min-height: 60rpx;
    align-items: center;/*垂直居中*/
    justify-content: center;/*水平居中*/
    text-align: justify;
    line-height: 100%;
    margin-right: 20rpx;
}
.hammer-box input,
.hammer-box textarea {
    flex: 1;
    line-height: 60rpx;
}

.align-start {
    align-items: flex-start;
}

/* ==================
         背景色
 ==================== */
.bg-black {
    background-color: #eee;
    color: #fff;
}

.bg-white {
    background-color: #fff;
    color: #888;
}

.bg-red {
    background-color: #e54d42;
    color: #ffffff;
}

.bg-orange {
    background-color: #f37b1d;
    color: #ffffff;
}

.bg-yellow {
    background-color: #fbbd08;
    color: #333333;
}

.bg-olive {
    background-color: #8dc63f;
    color: #ffffff;
}

.bg-green {
    background-color: #39b54a;
    color: #ffffff;
}

.bg-cyan {
    background-color: #1cbbb4;
    color: #ffffff;
}

.bg-blue {
    background-color: #0081ff;
    color: #ffffff;
}

.bg-purple {
    background-color: #6739b6;
    color: #ffffff;
}

.bg-mauve {
    background-color: #9c26b0;
    color: #ffffff;
}

.bg-pink {
    background-color: #e03997;
    color: #ffffff;
}

.bg-brown {
    background-color: #a5673f;
    color: #ffffff;
}

.bg-grey {
    background-color: #8799a3;
    color: #ffffff;
}

.bg-gray {
    background-color: #f0f0f0;
    color: #333333;
}

.bg-red.light {
    color: #e54d42;
    background-color: #fadbd9;
}

.bg-orange.light {
    color: #f37b1d;
    background-color: #fde6d2;
}

.bg-yellow.light {
    color: #fbbd08;
    background-color: #fef2ced2;
}

.bg-olive.light {
    color: #8dc63f;
    background-color: #e8f4d9;
}

.bg-green.light {
    color: #39b54a;
    background-color: #d7f0db;
}

.bg-cyan.light {
    color: #1cbbb4;
    background-color: #d2f1f0;
}

.bg-blue.light {
    color: #0081ff;
    background-color: #cce6ff;
}

.bg-purple.light {
    color: #6739b6;
    background-color: #e1d7f0;
}

.bg-mauve.light {
    color: #9c26b0;
    background-color: #ebd4ef;
}

.bg-pink.light {
    color: #e03997;
    background-color: #f9d7ea;
}

.bg-brown.light {
    color: #a5673f;
    background-color: #ede1d9;
}

.bg-grey.light {
    color: #8799a3;
    background-color: #e7ebed;
}
/* ==================
    basic-home导航
 ==================== */
.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-li {
    padding: 30rpx;
    border-radius: 12rpx;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 40rpx;
    // animation: bounceInDown 1s 1;
}
.nav-li:first-child {
    margin-top: 20rpx;
}
.nav-li:before,
.nav-li:after {
    content: "";
    position: absolute;
    top: 20rpx;
    height: 50%;
    left: 20rpx;
    width: 40%;
    box-shadow: -20rpx 20rpx 30rpx rgba(0, 0, 0, 0.1);
}
/* .nav-li:before,
.nav-li:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 20rpx;
    bottom: 30rpx;
    left: 20rpx;
    width: 60%;
    box-shadow: 0 30rpx 30rpx rgba(0, 0, 0, 0.5);
    transform: rotate(-3deg);
}
.nav-li:after {
    right: 20rpx;
    left: auto;
    transform: rotate(3deg);
} */

.nav-title {
    font-size: 32rpx;
    font-weight: 400;
    animation: bounceInDown 2s 1;
}

.nav-title::first-letter {
    font-size: 50rpx;
    margin-right: 4rpx;
}

.nav-name {
    font-size: 28rpx;
    text-transform: Capitalize;
    margin-top: 20rpx;
    position: relative;
    animation: slideInLeft 2s infinite;
}

.nav-name::before {
    content: "";
    position: absolute;
    display: block;
    width: 60rpx;
    height: 6rpx;
    background: #fff;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    animation: bounce 2s infinite;
}

.nav-name::after {
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    height: 1px;
    background: #fff;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

.nav-name::first-letter {
    font-weight: 800;
    font-size: 36rpx;
    margin-right: 1px;
}

.nav-li text {
    position: absolute;
    right: 50rpx;
    top: 30rpx;
    font-size: 50rpx;
    width: 60rpx;
    height: 60rpx;
    text-align: center;
    line-height: 60rpx;
    animation: rollIn 2s infinite;
}
/* ==================
        搜索框
 ==================== */
.hammer-search {
    background-color: #eee;
    line-height: 64rpx;
    height: 64rpx;
    font-size: 24rpx;
    color: #888;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 20rpx;
    uni-input: {
        flex: 1;
    }
}
/* ==================
        表单
 ==================== */
switch[checked] .wx-switch-input.wx-switch-input-checked,
checkbox[checked] .wx-checkbox-input,
radio[checked] .wx-radio-input,
switch.checked .uni-switch-input.uni-switch-input-checked,
checkbox.checked .uni-checkbox-input,
radio.checked .uni-radio-input {
    background-color: $hammer-color !important;
    border-color: $hammer-color !important;
    color: #ffffff !important;
}
/* ==================
        布局
 ==================== */
/* flex start*/
.hammer-flex {
    display: flex;
}
.h-flex-1 {
    flex: 1;
}
.h-flex-2 {
    flex: 2;
}
.h-flex-3 {
    flex: 3;
}
.flex-item {
    text-align: center;
    padding: 20rpx;
    margin-bottom: 20rpx;
}
.flex-item-mini {
    text-align: center;
    padding: 10rpx;
    margin-bottom: 20rpx;
}
/* flex end*/
.h-col-12 {
    width: 100%;
}

.h-col-11 {
    width: 91.66666667%;
}

.h-col-10 {
    width: 83.33333333%;
}

.h-col-9 {
    width: 75%;
}

.h-col-8 {
    width: 66.66666667%;
}

.h-col-7 {
    width: 58.33333333%;
}

.h-col-6 {
    width: 50%;
}

.h-col-5 {
    width: 41.66666667%;
}

.h-col-4 {
    width: 33.33333333%;
}

.h-col-3 {
    width: 25%;
}

.h-col-2 {
    width: 16.66666667%;
}

.h-col-1 {
    width: 8.33333333%;
}

.flex-one {
    flex: 1;
}

.flex-two {
    flex: 2;
}

.flex-three {
    flex: 3;
}

.flex-direction {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-stretch {
    align-items: stretch;
}

.self-start {
    align-self: flex-start;
}

.self-center {
    align-self: flex-center;
}

.self-end {
    align-self: flex-end;
}

.self-stretch {
    align-self: stretch;
}

.align-stretch {
    align-items: stretch;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}
.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-stretch {
    align-items: stretch;
}
.bg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
/* grid布局 */

.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 20rpx;
}
/* flex-flow 属性是 flex-direction 和 flex-wrap 的简写。 */
/*
    flex-direction: row | row-reverse | column | column-reverse;
    flex-wrap: nowrap | wrap | wrap-reverse;
*/
/* flex-grow 决定拉伸 flex-shrink 决定收缩
    flex-grow: 1;
    flex-shrink: 1;
 */
.flex-grow>view{
    flex-grow: 1;
}
.grid-item>view {
    margin-right: 20rpx;
    margin-bottom: 20rpx;
    border-radius: 6rpx;
    position: relative;
}
.grid-col-1>view {
    width: 100%;
}
.grid-col-2>view {
    padding-bottom: calc((100% - 20rpx)/2);
    height: 0;
    width: calc((100% - 20rpx)/2);
    flex-flow: row nowrap;
}

.grid-col-3>view {
    padding-bottom: calc((100% - 40rpx)/3);
    height: 0;
    width: calc((100% - 40rpx)/3);
    flex-flow: row nowrap;
}

.grid-col-4>view {
    padding-bottom: calc((100% - 60rpx)/4);
    height: 0;
    width: calc((100% - 60rpx)/4);
    flex-flow: row nowrap;
}
.grid-col-5>view {
    padding-bottom: calc((100% - 80rpx)/5);
    height: 0;
    width: calc((100% - 80rpx)/5);
    flex-flow: row nowrap;
}
.grid-col-2>view:nth-child(2n),
.grid-col-3>view:nth-child(3n),
.grid-col-4>view:nth-child(4n),
.grid-col-5>view:nth-child(5n) {
    margin-right: 0;
}
