/* ==================
         轮播
 ==================== */
swiper[class*="-dot"] .wx-swiper-dots,
swiper[class*="-dot"] .a-swiper-dots,
swiper[class*="-dot"] .uni-swiper-dots {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

swiper.square-dot .wx-swiper-dot,
swiper.square-dot .a-swiper-dot,
swiper.square-dot .uni-swiper-dot {
    background-color: #ffffff;
    opacity: 0.4;
    width: 10rpx;
    height: 10rpx;
    border-radius: 20rpx;
    margin: 0 8rpx !important;
}

swiper.square-dot .wx-swiper-dot.wx-swiper-dot-active,
swiper.square-dot .a-swiper-dot.a-swiper-dot-active,
swiper.square-dot .uni-swiper-dot.uni-swiper-dot-active {
    opacity: 1;
    width: 30rpx;
}

swiper.round-dot .wx-swiper-dot,
swiper.round-dot .a-swiper-dot,
swiper.round-dot .uni-swiper-dot {
    width: 10rpx;
    height: 10rpx;
    position: relative;
    margin: 4rpx 8rpx !important;
}

swiper.round-dot .wx-swiper-dot.wx-swiper-dot-active::after,
swiper.round-dot .a-swiper-dot.a-swiper-dot-active::after,
swiper.round-dot .uni-swiper-dot.uni-swiper-dot-active::after {
    content: "";
    position: absolute;
    width: 10rpx;
    height: 10rpx;
    top: 0rpx;
    left: 0rpx;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #ffffff;
    border-radius: 20rpx;
}

swiper.round-dot .wx-swiper-dot.wx-swiper-dot-active,
swiper.round-dot .a-swiper-dot.a-swiper-dot-active,
swiper.round-dot .uni-swiper-dot.uni-swiper-dot-active {
    width: 18rpx;
    height: 18rpx;
}

.screen-swiper {
    min-height: 375rpx;
}

.screen-swiper image,
.screen-swiper video,
.swiper-item image,
.swiper-item video {
    width: 100%;
    display: block;
    height: 100%;
    margin: 0;
    pointer-events: none;
}

.hammer-swiper {
    margin-left: 8rpx;
    font-size: 28rpx;
    height: 80rpx;
    flex: 1;
}

.hammer-swiper-item {
    display: flex;
    align-items: center;
}

.hammer-news-item {
    line-height: 28rpx;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #555;
}

.card-swiper {
    height: 420rpx !important;
}

.card-swiper swiper-item {
    width: 610rpx !important;
    left: 70rpx;
    box-sizing: border-box;
    padding: 40rpx 0rpx 70rpx;
    overflow: initial;
}

.card-swiper swiper-item .swiper-item {
    width: 100%;
    display: block;
    height: 100%;
    border-radius: 10rpx;
    transform: scale(0.9);
    transition: all 0.2s ease-in 0s;
    overflow: hidden;
}

.card-swiper swiper-item.cur .swiper-item {
    transform: none;
    transition: all 0.2s ease-in 0s;
}

.tower-swiper {
    height: 420rpx;
    position: relative;
    max-width: 750rpx;
    overflow: hidden;
}

.tower-swiper .tower-item {
    position: absolute;
    width: 300rpx;
    height: 380rpx;
    top: 0;
    bottom: 0;
    left: 50%;
    margin: auto;
    transition: all 0.2s ease-in 0s;
    opacity: 1;
}

.tower-swiper .tower-item.none {
    opacity: 0;
}

.tower-swiper .tower-item .swiper-item {
    width: 100%;
    height: 100%;
    border-radius: 6rpx;
    overflow: hidden;
}

